Source: app-indicator-session
Section: unknown
Priority: optional
Maintainer: Cody Garver <cody@elementaryos.org>
Build-Depends: cmake,
               debhelper (>= 9),
               libappindicator3-dev,
               libgtk-3-dev,
               valac
Standards-Version: 3.9.4
Homepage: https://github.com/voldyman/session-indicator

Package: session-indicator
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: indicator to Lock, Logout, Shutdown and Reboot system
 indicator to Lock, Logout, Shutdown and Reboot system
